[submodule "benchmark/pcg-cpp"]
	path = benchmark/extlibs/pcg-cpp
	url = https://github.com/imneme/pcg-cpp.git
[submodule "benchmark/Xoshiro-cpp"]
	path = benchmark/extlibs/Xoshiro-cpp
	url = https://github.com/Reputeless/Xoshiro-cpp.git
