node_modules/
build*/
public/
cache/
*.bak
jupyter/
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Emacs files
*~
\#*\#
*.elc
auto-save-list
tramp
.\#*

# benchmarking results
benchmark/distributions/comparison.png
results/ShadingMasks/*.png
results/Differences/*.png
results/csv/*.png

# all files resulting from the reframe benchmarking
benchmark/distributions/__pycache__/*
benchmark/distributions/output/*
benchmark/distributions/perflogs/*
benchmark/distributions/stage/*