# Portion of Place de la République in Strasbourg
# Mesh with convex hull of 19 buildings

directory = 19buildingsStrasbourg

json-filename = $cfgdir/19buildingsStrasbourg.json

gmsh.filename=$cfgdir/19buildingsStrasbourg.msh